.product {
  width: 300px;
  height: 390px;
  border: 1px solid #cbd5e1;
  border-radius: 5px;
}
.product img {
  width: 286px;
  height: 190.66px;
  border-radius: 5px;
  margin: 7px;
}
.product-info {
  margin: 0 14px;
}
.product-name {
  font-family: "montserrat";
  color: #0d9488;
}
.product-info p {
  margin-bottom: 0;
  margin-top: 5px;
  color: #64748b;
}
